.header-index {
    display: flex;
    justify-content: center;
    background-color: rgb(175, 175, 175);
    outline: none;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}


.header-img {
    width: 1500px;
    height: 300px;
    filter: blur(1.5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.header-text {
    width: 500px;
    font-size: larger;
    color: white;
    text-align: center;
    font-weight: bold;
    border: 3px solid white;
    position: absolute;
    transform: translate(0%, 50%);
    z-index: 2;
    padding: 20px;
    background-color: white;
    background-color: rgba(0,0,0, 0.4);
    font-family: 'Trebuchet MS', sans-serif;
    }

    nav {
        width: 100%;
        height: 80px;
        background-color: brown;
    }
    
    nav>ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-inline-start: 0;
      }
      
    
    nav>ul>li>a {
        width: 100%;
        height: 100%;
        color: white;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: larger;
        display: block;
        padding-top: 15px;
        margin: 10px 15px;
    }
    
    nav>ul>li>a:hover {
        background-color: rgb(233, 142, 109);
        transition: 300ms ease-in-out;
        border-radius: 2%;
        padding: 3%;
      }

    h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
        margin-left: 150px;
    }

    a {
        line-height: 1.5;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
      }

    p {
        margin: 0 0 1em;
        margin-left: 145px;
        line-height: 1.5;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
    }
    
    .domovska-stranka>ol>li {
        margin-left: 145px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
    }

    .formular-kontakt {
        margin: 0 0 1em;
        margin-left: 145px;
        line-height: 1.5;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
    }

    .formular-sluzby {
        margin: 0 0 1em;
        margin-left: 145px;
        line-height: 1.5;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
    }

    h3 {
        margin: 0 0 1em;
        margin-left: 145px;
        line-height: 1.5;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
    }

    .submit {
        margin: 0 0 1em;
        margin-left: 145px;
        line-height: 1.5;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        font-family: Arial, sans-serif;
        font-size: 14px;
      }
      
      table th, table td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      
      table th {
        background-color: #f2f2f2;
        font-weight: bold;
        color: #555;
      }
      
      table tr:hover {
        background-color: #dacfcf;
      }
      
      table td {
        color: #333;
      }
      
   .odkazy-list {
        margin: 0 0 1em;
        margin-left: 145px;
        line-height: 1.5;
   }