* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-size: 18px; font-family: Arial, Helvetica, sans-serif;
    color: #222222;
}

body {
    margin: 0; padding: 0;
    background-color: gray;
    background-image: url(../img/background01.jpg);
    background-size: cover;
    
}

.container {
    max-width: 1280px;
    margin: auto;
}

header {
    background-color: #22A39F;
    width: 100%; height: 100px;
    padding: 20px;
}

header>strong {
    font-size: 28px;
    line-height: 60px;
    float: left;
}

#logo {
    float: left; margin-right: 15px;
    width: 180px; height: 70px;
    background-image: url(../img/logo04.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#home {display: block; width: 100%; height: 100%;}
#kontakt {text-align: right;}

nav {
    background-color: #222222;
    width: 100%; min-height: 40px;
}

nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding: 0 2px; gap: 2px;
}

nav>ul>li {
    width: 160px; height: 40px;
}

nav>ul>li>a {
    background-color: #434242;
    color: #F3EFE0; text-decoration: none;
    display: block;
    width: 100%; height: 100%;
    padding: 0 5px;
    text-align: center; line-height: 40px; font-size: 16px;
}

#selected {
    background-color: #F3EFE0;
    color: #434242; text-decoration: none;
    font-weight: bold;
}

nav>ul>li>a:hover {
    font-size: 18px;
    transition: 250ms ease-in-out;
}

main {
    background-color: #F3EFE0;
    width: 100%; height: calc(100vh - 100px - 40px);
    min-height: 400px;
    padding: 15px;
}

main>h1 {
    font-size: 34px;
    margin-bottom: 20px;
}

footer {
    background-color: #434242;
    width: 100%; height: 40px;
    text-align: center; line-height: 40px;
    color: #F3EFE0; font-size: 14px;
}

.newline {clear: both;}


/*----INDEX----*/
#banner {
    background-color: gray;
    width: 100%; height: 520px;
}

#index-main {
    background-color: #F3EFE0;
    width: 100%; height: calc(100vh - 100px - 40px - 520px);
    min-height: 200px;
    padding: 15px;
}

#index-main>p {
    font-size: 18px;
}
/*-------------*/


@media (max-width:650px) {
    header>strong {
        display: none;
    }

    #logo {
        width: 100px; height: 40px;
    }
    
    nav>ul {
        flex-direction: column;
    }

    nav>ul>li {
        width: 100%;
    }

    #banner {
        height: 200px;
    }

    main {
        height: 1000px;
    }
  }