* {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

body {
    background-color: salmon;
    margin: 0px;
    padding: 0px;
}

/* HEADER STYL */

header {
    position: relative;
    width: 1920px;
    height: 150px;
    overflow: hidden;
    background-color: white;
}

header * {
    position: absolute;
}

#header_logo {
    width: 160px;
    height: 120px;
    margin-top: 15px;
    margin-left: 60px;
    margin-bottom: 15px;
}

#nazev_web_stranky {
    margin-top: 49px;
    margin-left: 266px;
    font-family: Arial;
    font-weight: bold;
    font-size: 45px;
    color: red;
}

#zakladni_informace_z_kontaktu {
    height: 120px;
    margin-top: 15px;
    margin-left: 87%;
    list-style: none;
}

#zakladni_informace_z_kontaktu li {
    position: relative;
    margin-top: 1em;
    text-align: center;
}

/* NAV STYL */

nav {
    height: 45px;
    background-color: rgb(26, 46, 70);
}

#navigace {
    height: 45px;
    list-style: none;
    margin-left: 13.5px;
}

#navigace li {
    float: left;
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(26, 46, 70);
    font-size: 30.5px;
}

#navigace li a {
    color: white;
    text-decoration: none;
}

#navigace li:hover {
    background-color: rgb(33, 59, 90);
}

#navigace #active {
    background-color: rgb(33, 59, 90);
}

/* MAIN STYL */

main {
    position: relative;
    width: 100%;
    height: 750px;
    background-color: white;
}

main * {
    position: absolute;
}

h1 {
    margin-top: 30px;
    margin-left: 60px;
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
}

#main_text {
    margin-top: 120px;
    padding-left: 60px;
    font-size: 21px;
}

form {
    font-family: Arial;
}

form label {
    position: relative;
    margin-top: 280px;
    margin-left: 60px;
    font-size: 21px;
}

form input {
    position: relative;
    margin-top: 280px;
    margin-left: 5px;
    font-size: 21px;
}

form select {
    position: relative;
    margin-top: 50px;
    margin-left: 5px;
    font-size: 21px;
}

form #form-vzkaz-text {
    position: relative;
    margin-top: 50px;
    margin-left: 60px;
    font-size: 21px;
}

form textarea {
    position: relative;
    margin-top: 10px;
    margin-left: 60px;
    font-size: 21px;
    resize: none;
}

form #form-odeslat {
    position: relative;
    margin-top: 10px;
    margin-left: 892.5px;
    padding-top: 2px;
    padding-left: 6px;
    padding-bottom: 2px;
    font-size: 21px;
}

/* FOOTER STYL */

footer {
    position: relative;
    max-width: 100%;
    height: 66px;
    background-color: rgb(26, 46, 70);
}

footer * {
    position: absolute;
}

footer a {
    width: 150px;
    margin-top: 24px;
    margin-left: 15px;
    font-family: Arial;
    font-style: italic;
    text-decoration: none;
    color: rgb(38, 92, 158);
}
